@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Comfortaa&family=Gothic+A1:wght@600&display=swap");

body {
  margin: 0;
}
/* HomePage============================= */
.outer {
  height: 100vh;
  overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
}

.inner {
  height: 100vh;
}

.home-outfit {
  background-image: url("/public/images/mainSecond.jpg");
  background-size: cover;
  position: relative;
}

.home-color-match {
  background-image: url("/public/images/mainThird.jpg");
  background-size: cover;
  position: relative;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: gray;
}

/* timeline========================================== */
.timeline {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
  z-index: 999;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: "Comfortaa", cursive;
  top: 30%;
  right: 30px;
}

.timeline svg {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.timeline-index {
  display: flex;
  flex-direction: column;
  background-color: #202124;
  padding: 15px 10px;
}

.timeline-topic {
  display: flex;
  flex-direction: column;
}

.timeline-main,
.timeline-outfit,
.timeline-color {
  background-color: white;
  padding: 20px 15px;
  color: rgb(163, 163, 163);
}

@media screen and (max-width: 905px) {
  .timeline {
    width: 100px;
  }
  .menu {
    display: flex;
    flex-direction: column;
  }
}
/* navbar-================================================================ */
.menu-bar a {
  text-decoration: none;
  color: white;
}
.menu-bar h1 {
  margin: 0;
  font-size: 3.5em;
  font-family: "Caveat", cursive;
}

.menu-bar h5 {
  margin: 0;
  text-align: center;
  font-family: "Comfortaa", cursive;
  margin-top: 3px;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.logo div:last-child {
  display: flex;
}
.logo-stylist:hover {
  color: white;
}
.menu-bar {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  margin: 0 40px;
  font-size: 1.4em;
  font-weight: bold;
}

.menu a:hover {
  color: white;
  border-bottom: 3px solid white;
}

.login-weather {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.login {
  background-color: transparent;
  border: none;
  margin: 0 20px;
  color: white;
  font-weight: bold;
}
.login-icon {
  font-size: 1.7em;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* homeMain======================================================= */
.homeMain {
  height: 100vh;
  transition: 1.5s;
  background-position: center;
  background-size: cover;
}

.home-main::before {
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.7)
  );
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}

.img-slide-btn {
  display: flex;
  align-items: center;
  margin-top: 90px;
}

.pause-btn {
  background-color: transparent;
  padding: 5px 12px;
  border-radius: 100%;
  color: white;
  border: 2px solid white;
  margin-right: 10px;
}

.next-btn {
  background-color: transparent;
  padding: 5px 12px;
  border-radius: 100%;
  color: white;
  border: 2px solid white;
}
.imgPer {
  width: 180px;
  height: 5px;
  background-color: white;
}

.progress {
  height: 5px;
}
.scrolldown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 30px;
  color: white;
  font-weight: bold;
  animation: moveUpDown 1.5s ease-in-out infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.main-contents {
  margin-top: 100px;
}

.main-contents span {
  font-size: 1.2em;
  color: white;
  line-height: 3;
  font-family: "Gothic A1", sans-serif;
}

.main-text {
  font-size: 4.2rem;
  font-family: "Comfortaa", cursive;
  color: white;
}

.main-text strong strong {
  font-family: "Caveat", cursive;
  font-size: 1.3em;
}

.main-text strong div {
  font-size: 0.6em;
}

.main-detail-text {
  margin-bottom: 300px;
}

@media screen and (max-width: 1140px) {
  .menu a {
    margin: 0 20px;
    font-size: 20px;
  }
  .menu-bar h1 {
    font-size: 3em;
  }
  .menu-bar h5 {
    font-size: 0.8em;
  }
  .main-text {
    font-size: 3em;
  }
  .main-contents span {
    font-size: 1em;
  }
}

/* main-second-page======================================== */
.main-second-page {
  color: white;
  position: relative;
}

.main-second-page h1 {
  font-size: 8em;
  font-weight: bold;
  margin: 70px 0 0 130px;
}

.second-page-category {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  height: 70vh;
}
.second-page-contents {
  height: 100%;
  border-left: 2px solid lightgray;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
}

.second-page-category svg {
  font-size: 1.4em;
}

.second-page-category p {
  width: 280px;
  letter-spacing: 0.1em;
  font-family: "Gothic A1", sans-serif;
  font-weight: 500;
}

.second-page-title {
  font-size: 1.5em;
  font-family: "Comfortaa", cursive;
  margin: 10px 0 3px 0;
}

.goToPage-btn {
  background-color: transparent;
  border: 1.5px solid white;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
}

.goToPage-btn:hover {
  background-color: rgba(231, 229, 229, 0.308);
  transition: 0.5s;
}

/* home-color-match========================================= */
.main-third-page-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.main-third-page-title {
  font-size: 2.3em;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}

.main-third-page-semiTitle {
  font-family: "Comfortaa", cursive;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  padding-top: 200px;
}

.colormatch-btn {
  border: none;
  color: white;
  padding: 10px 15px;
  background-color: #202124;
}

.goToPage-colormatch {
  text-align: center;
  color: black;
}

/* colormatch-page==================================================== */
.colormatch-header {
  background-color: #f7f6f6;
}

.colormatch-title {
  margin: 0;
  padding: 15px 0;
  font-family: "Comfortaa", cursive;
  text-align: center;
  font-weight: bold;
}

.colormatch-header a,
.colormatch-header button,
.colormatch-header span {
  color: black;
}

.colormatch-header a:hover {
  color: black;
  border-bottom: 3px solid black;
}

.colormatch {
  background-color: rgba(240, 238, 238, 0.507);
  padding-bottom: 30px;
}

.colormatch-logo {
  font-size: 3em;
  font-family: "Caveat", cursive;
}
.colormatch-text h3 {
  font-weight: bold;
  font-size: 2em;
  padding-top: 30px;
}

.recommend-color-video {
  padding-bottom: 50px;
}

.colormatch-explain {
  font-size: 1.1em;
  font-family: sans-serif;
  background-color: #cfcece;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: bold;
}

.colormatch-text p:last-child {
  color: rgb(92, 91, 91);
  font-weight: bold;
  margin-bottom: 30px;
}
.palette {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 50px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 30px;
}

.palette-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.palette-color h6 {
  font-weight: bold;
  font-family: "Comfortaa", cursive;
}

.BLACK,
.WHITE,
.GRAY,
.NAVY,
.KHAKI,
.BEIGE,
.BROWN,
.BLUE,
.GREEN,
.BURGUNDY,
.CREAM {
  width: 90px;
  height: 90px;
  border-radius: 7px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.5s;
  cursor: pointer;
}

.BLACK:hover,
.WHITE:hover,
.GRAY:hover,
.NAVY:hover,
.KHAKI:hover,
.BEIGE:hover,
.BROWN:hover,
.BLUE:hover,
.GREEN:hover,
.BURGUNDY:hover,
.CREAM:hover {
  box-shadow: none;
  transition: 0.5s;
}

.BLACK {
  background-color: black;
}

#color {
  width: 120px;
  height: 120px;
  border-radius: 7px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.black {
  background-color: black;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.white {
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gray {
  background-color: gray;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navy {
  background-color: #243b5b;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.khaki {
  background-color: #6d6a0a;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.beige {
  background-color: #f3cf98;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.brown {
  background-color: #483420;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.green {
  background-color: #228b22;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.blue {
  background-color: #274fb7;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.burgundy {
  background-color: #5e0a0a;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.WHITE {
  background-color: white;
}
.GRAY {
  background-color: gray;
}

.CREAM {
  background-color: #fffdd0;
}

.NAVY {
  background-color: #243b5b;
}

.KHAKI {
  background-color: #6d6a0a;
}

.BEIGE {
  background-color: #f3cf98;
}

.BROWN {
  background-color: #483420;
}

.BLUE {
  background-color: #274fb7;
}

.GREEN {
  background-color: #228b22;
}

.BURGUNDY {
  background-color: #5e0a0a;
}

.userSelect-color {
  display: flex;
  padding: 5px 0 25px 0;
}

.userSelect-color-text {
  width: 90%;
  margin-left: 20px;
}
.userSelect-color-text h6 {
  font-weight: bold;
}

.recommend-color {
  display: flex;
  justify-content: space-between;
}

.recommend-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 2s;
}

.recommend-imgs {
  border-radius: 15px;
  transition: 0.7s;
}

.recommend-imgs:hover {
  transition: 0.7s;
  transform: scale(2);
  z-index: 2;
}

.recommend-color-area {
  background-color: white;
  padding: 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
}

.userSelect-color-detailText {
  border-radius: 15px;
  padding: 10px 20px;
  background-color: #cfcece;
  font-weight: 500;
}

.video-head {
  margin: 30px 0 70px 0;
}
.video-text {
  margin-left: 5px;
  font-size: 2em;
  font-weight: bold;
}

.recommend-video-area {
  background: url(/public/images/colormatchpage.jpg) fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.video-content iframe {
  border-radius: 15px;
}

/* outfit================================================================ */
.outfit-area {
  background-color: rgba(240, 238, 238, 0.507);
}

.outfit-header {
  background-color: #f7f6f6;
}

.outfit-title {
  margin: 0;
  padding: 15px 0;
  font-family: "Comfortaa", cursive;
  text-align: center;
  font-weight: bold;
}

.outfit-header a,
.outfit-header button,
.outfit-header span {
  color: black;
}

.outfit-header a:hover {
  color: black;
  border-bottom: 3px solid black;
}

.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: #f1f5fe;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  padding: 15px 0;
}

.current-weather-container {
  padding: 30px 0;
}

.weather-supply {
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 10px;
  font-weight: bold;
}

.weather-supply p {
  margin: 0 0 0 5px;
}

.weather-img {
  width: 350px;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 4.5em;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.weather-img div:last-child {
  display: flex;
  align-items: start;
  justify-content: center;
}

.weather-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.current-location {
  color: #eb6d4a;
  font-size: 16px;
}

.current-location div:last-child {
  margin-left: 3px;
  color: black;
}

.current-temp {
  width: 350px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
}

.current-temp div {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.air-pollution {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pm {
  width: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  justify-content: center;
  border-radius: 15px;
}

.text {
  text-align: center;
}

.pm-common-text {
  font-weight: bold;
  color: white;
  padding: 0 10px;
  border-radius: 15px;
  margin-bottom: 3px;
}

.air-status {
  margin-left: 5px;
}

.clock {
  display: flex;
  justify-content: center;
  margin-top: 14px;
  font-size: 1.5em;
  border-radius: 15px;
  padding: 5px 10px;
  font-weight: bold;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.clock button {
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

.feels-like {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 10px;
}

.feels-like p {
  margin: 0px 10px;
}

.weather-text {
  background-color: #f1f5fe;
  border-radius: 15px;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 35px;
  width: 800px;
}
/* RecommendedClothes=================================================== */
.recommended-clothes-area h1 {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
}

.recommended-clothes-area span {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
}

.recommended-clothes-text-area {
  margin-top: 30px;
}

.recommended-clothes-text {
  font-size: 1.1rem;
  width: 40%;
  font-weight: bold;
  background-color: #cfcece;
  padding: 10px 20px;
  border-radius: 15px;
  margin-bottom: 30px;
  margin-top: 8px;
}

.category-area {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.category-area img {
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 10px;
}

.category {
  margin-right: 30px;
  border-radius: 15px;
  padding: 10px 20px;
  background-color: #f1f5fe;
  margin-bottom: 30px;
}

.goTo-mycloth {
  margin-bottom: 30px;
  display: flex;
  font-size: 1.1rem;
  font-weight: bold;
  color: #353535;
}

.goTo-mycloth div:last-child {
  margin-left: 7px;
}

.not-found {
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px 20px;
}

.recommendedOutfit-items {
  background-color: #f1f5fe;
  border-radius: 15px;
  display: inline-block;

  margin-left: "auto";
  margin-right: "auto";
  margin: 0 30px 30px 0;
  padding: 10px 20px;
  width: 290px;
}

.recommendedOutfit-items img {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.recommendedOutfit-items div {
  font-weight: bold;
  color: #3b3b3b;
}

/* my cloth ------------------------------------------------------- */

.mycloth-header {
  background-color: #f7f6f6;
}

.mycloth-title {
  margin: 0;
  padding: 15px 0;
  font-family: "Comfortaa", cursive;
  text-align: center;
  font-weight: bold;
}

.mycloth-header a,
.mycloth-header button,
.mycloth-header span {
  color: black;
}

.mycloth-header a:hover {
  color: black;
  border-bottom: 3px solid black;
}
/* login================================================= */
.login-page-text {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  margin: 70px 30px 0 0;
  font-size: 2em;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
  position: relative;
}

/* sign up================================================================ */
.id-double-check {
  display: flex;
  justify-content: end;
  margin-top: 16px;
}

/* footer-------------------------------------------------------- */
.footer {
  background-color: #343541;
  width: 100%;
  height: 45%;
  position: relative;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-menu li {
  list-style: none;
  font-size: 17px;
  margin-top: 50px;
  color: lightgray;
}

.footer-content {
  padding: 50px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: lightgray;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-text h1 {
  font-family: "Caveat", cursive;
}

.footer-text p {
  margin: 3px;
}

.footer-icons {
  margin: 15px 0;
}

.footer-icons span {
  font-size: 1.5em;
  margin: 0 30px;
  cursor: pointer;
}

.footer-div {
  display: flex;
}

.footer-btns {
  margin: 0 30px 30px 0;
  border-radius: 20px;
  padding: 5px 15px;
  border: 3px solid rgb(99, 97, 97);
}

.footer-btns:hover {
  transition: 0.5s;
  background-color: rgba(211, 211, 211, 0.404);
}

.copyright {
  font-weight: bold;
}
